<div>
  <app-home-header [search]="search"></app-home-header>
  <div class="search-engine-wrapper" *ngIf="isNotFirst()">
    <mat-card class="search-engine" *ngFor="let e of engines">
      <mat-card-header>
        <mat-card-title>{{e}}{{searchText}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <webview
          attr.src="{{e}}{{searchText}}"
          useragent="Mozilla/5.0 (iPhone; CPU iPhone OS 11_0 like Mac OS X) AppleWebKit/604.1.34 (KHTML, like Gecko) Version/11.0 Mobile/15A5341f Safari/604.1"
          width="100%"
          height="100%"
        ></webview>
      </mat-card-content>
    </mat-card>
  </div>
</div>