<div class='wrapper'>
  <app-home-header class="app-home-header"></app-home-header>
  <div class="main">
    <app-home-sidebar class="sidebar-wrapper" [@flyInOut]="sidebarState" *ngIf="!show"></app-home-sidebar>
    <div class="search-engine-wrapper" *ngIf="!isFirstSearch && search">
      <mat-grid-list cols="3" gutterSize="20px" rowHeight="{{rowHeight}}" class="mat-grid-list">
        <mat-grid-tile *ngFor="let key of Object.keys(websites)" colspan="1" rowspan="1">
          <mat-card class="search-engine" *ngIf="websitesService.selectedWebsites.includes(key)">
            <mat-card-header>
              <mat-card-title class="title">
                <span>{{websites[key].name || key}}</span>
                <span class="search-placeholder">搜索</span>
                <span class="search-text">{{search}}</span>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="mat-card-content {{show ? 'hidden' : 'show'}}">
              <webview
                attr.src="{{websites[key].url}}{{search}}"
                useragent="Mozilla/5.0 (iPhone; CPU iPhone OS 11_0 like Mac OS X) AppleWebKit/604.1.34 (KHTML, like Gecko) Version/11.0 Mobile/15A5341f Safari/604.1"
                width="100%"
                height="100%"
              ></webview>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>