<mat-toolbar color="primary">
  <mat-toolbar-row class="header">
    <button mat-icon-button class="icon-menu" (click)="websitesService.toggleShow(!showSidebar)">
      <mat-icon svgIcon="ic-menu"></mat-icon>
    </button>
    <div class="search-wrapper">
        <mat-icon class="icon" svgIcon="ic-search"></mat-icon>
        <input
          class="search-input"
          placeholder="请输入关键字"
          [(ngModel)]="text"
          (focus)="handleFocus()"
          (blur)="handleBlur()"
          (keyup)="handleKeyUp($event)"
        >
        <button
          mat-icon-button
          [class.focused]="focusing"
          [class.unFocused]="!focusing"
          (click)="handleClick($event)"
        >
          <mat-icon
            class="icon"
            svgIcon="ic-close"
          ></mat-icon>
        </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
