/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~normalize.css/normalize.css";

html {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  color: #333;
}
body {
  width: 100%;
  height: 100%;
}